<header class="navbar is-transparent">
  <div class="container">
    <div id="navbarMenuHeroC" class="navbar-menu">
      <div class="navbar-menu">
        <div class="navbar-brand">
          <a href="/">
            <img class="" src="/images/logo.svg" />
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        {{#each menu}}
        <a href="{{url}}" class="navbar-item">{{label}}</a>
        {{/each}}
      </div>
    </div>
  </div>
</header>