<h2 class="title title-adornment-{{ctx.adornmentPosition}}">
  {{#if ctx.beforeTitle}}
  <span class="subtitle is-4">{{ctx.beforeTitle}}</span>
  {{/if}}
  <span class="title is-2">{{ctx.title}}</span>
</h2>