body {
  background-color: #fafafa;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 150%;
}

p {
  margin-bottom: 16px;
}

.box,
.input,
.select select,
.textarea,
.panel,
.panel-heading,
.button {
  border-radius: 0;
}

.navbar-menu {
  justify-content: space-evenly;
}

.navbar-brand img {
  max-height: 80px;
}

.navbar-overlay {
  background: rgba(250, 250, 250, 0.8) !important;
  box-shadow: 0px -2px 5px 2px #323232;
  transition: all 400ms ease-in-out;
}

.title span {
  display: block;
  margin: 0;
}

.subtitle:not(:last-child) {
  margin-bottom: 0.5rem;
}

.title-adornment-left,
.title-adornment-right {
  position: relative;
}

.title-adornment-left {
  width: fit-content;
  padding-bottom: 8px;
  border-bottom: 2px solid #323232;
}

.title-adornment-left::after {
  content: "";
  position: absolute;
  right: 100%;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: #323232;
}

.title-adornment-right::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -8px;
  overflow-x: inherit;
  height: 2px;
  width: 200%;
  background-color: #323232;
}

.hero.is-fullheight-with-navbar .hero-body.flex-start {
  align-items: flex-start;
}

.card {
  display: flex;
  align-items: center;
  border-right: 4px solid #323232;
}

@media (min-width: 600px) {
  .card-image {
    flex: 1;
  }

  .card-content {
    flex-basis: 80%;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#home {
  background-image: url("/images/bg-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.team > .card:nth-child(2) {
  margin: 2rem 0;
}

/*
.team > .card:first-child {
  margin-top: 0;
  margin-left: 4px;
  border-right: 4px solid #323232;
  border-top: 4px solid #323232;
}

.team > .card:nth-child(2) {
  border-top: 4px solid #323232;
  border-left: 4px solid #323232;
}

.team > .card:nth-child(3) {
  border-left: 4px solid #323232;
  margin-bottom: 0px;
}
*/

.project-image {
  width: 100%;
  height: 100%;
}

.project-title {
  position: absolute;
  bottom: 0;
  width: 80%;
  margin: 0 10%;
  text-align: center;
  background-color: #fafafa;
  padding: 16px;
}

.project-container {
  display: flex;
  flex-direction: column;
}

.project-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-item {
  width: fit-content;
  padding: 8px 0;
  position: relative;
}

.project-item.active::before {
  content: "";
  border: 2px solid #323232;
  margin-right: 8px;
}

.project-item:not(.active)::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0px;
  height: 2px;
  background-color: transparent;
  transition: all 400ms ease-in-out;
}

.project-item:not(.active):hover::after,
.project-item:not(.active):focus::after {
  width: 100%;
  background-color: #323232;
}

.project-item:not(.active):hover {
  cursor: pointer;
}

/*
.project-item:not(.active) {
  --border-width: 2px;
  --animation-speed: 300ms;
  --color: #323232;
  border-bottom: var(--border-width) solid transparent;
  animation: borderColorsOut var(--animation-speed) ease-in forwards;
}

.project-item:not(.active):hover {
  cursor: pointer;
  animation: borderColors var(--animation-speed) ease-out forwards;
}

@keyframes borderColors {
  from {
    border-bottom: var(--border-width) solid transparent;
  }
  to {
    border-bottom: var(--border-width) solid var(--color);
  }
}

@keyframes borderColorsOut {
  from {
    border-bottom: var(--border-width) solid var(--color);
  }
  to {
    border-bottom: var(--border-width) solid transparent;
  }
}
*/

.archive-title > span {
  display: inline-block;
}

.post {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
}

.post .meta {
  margin-bottom: 16px;
}

.post .meta .title {
  margin-bottom: 0px;
}

.post .content {
  padding: 16px;
}

.post .content .action {
  display: flex;
  justify-content: flex-end;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
}

.sidebar-item {
  margin: 16px 0;
}

.panel-block.is-active::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background-color: #323232;
}
