<section id="home" class="home hero is-fullheight">
  <div class="hero-head">
    {{> navbar}}
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Olá,
      </h1>
      <h2 class="subtitle">
        e aqui uma tagline bem esperta!
      </h2>
    </div>
  </div>
</section>