{{> home-v2/section-title ctx=services }}
<div class="columns is-multiline">
  {{#each services.content}}
  <div class="column is-half card-service">
    {{> services/card-v2 }}
  </div>
  {{/each}}
</div>